{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">DashBoard</h1>
<h6><p class="text-center">Sign Up to Upvote/ Upload your works of any vernacular and share with everyone!</p></h6>
<h3 class="text-center"> #~Short Stories, Poems and Literature~#  </h3>
<br/>
<br/>
{% for product in products.all %}
<br/>
<br/>
<div class="row pt-3">
  <div class="col-2" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
    <img src="{{ product.icon.url }}" class="img-fluid" />
  </div>
  <div class="col-6" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
    <h2>{{ product.title }}</h2>
    <p>{{ product.summary }}</p>
  </div>
  <div class="col-4">
    <a href="javascript:{document.getElementById('upvote{{ product.id }}').submit()}"><button class="btn btn-primary btn-lg btn-block"><span class="oi oi-caret-top"></span> Upvote {{ product.votes_total }}</button></a>

  </div>
</div>

<form id="upvote{{ product.id }}" method="POST" action="{% url 'upvote' product.id %}">
  {% csrf_token%}
  <input type="hidden">
</form>
<br/>
{% endfor %}

{% endblock %}
